@import 'global.css';
@import 'main.css';

body {
    font-family: var(--fontFamily) !important;
}

.blinn-fa-icon {
    font-size: 80px;
    color: #DBA024;
}

.blinn-fa-container {
    background-color: var(--secondaryColor) !important;
}